* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    overflow: hidden;
}

header {
    background-color: #cfcfc4;
    width: 100%;
    opacity: .7;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.exercises {
    margin: 0px 30px 30px 30px;
    overflow: auto;
    height: 500px;
}

div.exercise {
    margin-bottom: 30px;
}

button.generate {
    background-color: #cfcfc4;
    padding: 10px;
    text-align: center;
    width: 25%;
    border-radius: 8px;
    margin-left: 30px;
    font-size: 1.2em;
    border: 0px;
    margin-bottom: 30px;
}

button.generate:hover {
    background-color: #444;
    color: #cfcfc4;
}

h1 {
    font-size: 4.3em;
    text-align: center;
    letter-spacing: -3px;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    letter-spacing: -1px;
    color: #999;
}