<!doctype html>
<html>
    <head>
        <title>Stwod</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <header>
        <h1>STWOD - your workout of the day!</h1>
    </header>

    <button class="generate" value="Generate workout" onClick="window.location.href=window.location.href">Generate workout</button>

    <body>
        <div class="exercises">
            {% for entry in data %}
            <div class="exercise" onclick="remove(this)">
            <h3> {{ entry.name }} </h3>
                {{ entry.description }}
            </div>
            <script type="text/javascript">
                function remove(el) {
                    var element = el;
                    element.style.display = "none";
                }
            </script>
            {% endfor %}
        </div>
    </body>
</html>
